[submodule "lookback"]
	path = packages/lookback
	url = https://github.com/blakeNaccarato/lookback.git
[submodule "templater-obsidian"]
	path = packages/templater-obsidian
	url = https://github.com/blakeNaccarato/Templater
