*
!.gitignore

!vaults

!vaults/grad
!vaults/grad/_external

!vaults/grad/_external/dvc

!vaults/grad/_external/git
!vaults/grad/_external/git/**

!vaults/personal
!vaults/personal/_external

!vaults/personal/_external/dvc

!vaults/personal/_external/git
!vaults/personal/_external/git/**

!*.dvcignore
!*.dvc
