# Latest working requirements of your package, should be ahead of pyproject.toml.
dvc[gdrive]==3.2.3
loguru==0.7.0
marko==1.3.0
pydantic==1.10.12
ruamel.yaml==0.17.32
typer==0.9.0
watchdog==3.0.0
# ! boilercore specified differently in dev and CI to allow editable package in dev
# boilercore==...
