# Requirements for dev environments.

# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

boilercore@git+https://github.com/blakeNaccarato/boilercore@b89724c935afd94901a17787dbe56a62fbe81ed2
lookback@git+https://github.com/blakeNaccarato/lookback@f5356e80af1926bb405325aaee6cc18cd90b55b4

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

-r requirements_both.txt
