# Latest working requirements of the package, should be ahead of pyproject.toml
# ! boilercore specified differently in dev and CI to allow editable package in dev
# boilercore==...
# ! lookback specified differently in dev and CI to allow editable package in dev
# lookback==...
