# Requirements for dev environments.

boilercore@git+https://github.com/blakeNaccarato/boilercore@45c1a16845ef1567df06f94cc8ad7635a952530b
lookback@git+https://github.com/blakeNaccarato/lookback@f5356e80af1926bb405325aaee6cc18cd90b55b4
# Publishing
flit==3.9.0

-r requirements_both.txt
